div.form {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    background: #090;
    border-radius: 5px;
}
label{
    display: block;
    width: 50%;
    color: #fff;
    font-size: 1.2em;
}

