*{
    box-sizing: border-box;
    font-family: "Poppins", "verdana", "sans-serif";
    color: black;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}

div#card, div.card{
    width: 200px;
    height: 200px;
    line-height: 200px; /* centrage vertical du texte enfant */
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px dashed limegreen;
    color: white;
    background-color:darkgreen;
}
div#card span, div.card span{
    width: 200px;
    font-family: serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: rgb(197, 255, 197);
}
div#card:hover, div.card:hover{
    transform: translate(-2px, -2px);
    cursor: pointer;
    transition: 1s;
}
