
*{
    padding: 0;
    margin: 0;
    size: 90%;
    box-sizing: border-box;
    font-family: "Poppins", "verdana", "sans-serif";
    color: black;
}



.form {
    margin: 0 auto;
    width: 450px;
    padding: 10px;
    border: 1px solid #003;
    background: #00F;
    border-radius: 5px;
}

.form h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
    text-shadow: #CCC;
    color: white;
}

.form label {
    display: block;
    color: white;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

nav li {
    width: 45%;
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
    text-align: center;
    list-style: none;
    color:#009;
    font-size: 110%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 1s;
}
nav li a{
    text-decoration: none;
}

nav li:hover{
    background-color: #009;
    color: #fff;
    transition: 1s;
}

